.build/
.mbs-deps/
.cache

elixir_examples/**/_build/
elixir_examples/**/deps/

go_examples/bin
go_examples/pkg

typescript_examples/*/dist
typescript_examples/*/node_modules/
typescript_examples/*/.pnpm-store/

python*/**/*.egg-info/
python*/**/build/
python*/**/dist/

rust*/**/target/

.terraform*
!.terraform.lock.hcl
terraform.tfstate*