.build/
.deps/

elixir_examples/**/_build/
elixir_examples/**/deps/

go_examples/bin
go_examples/pkg

node_modules/

python*/**/*.egg-info/
python*/**/build/
python*/**/dist/

.terraform*
!.terraform.lock.hcl
terraform.tfstate*