.build/
.mbs-deps/

elixir_examples/**/_build/
elixir_examples/**/deps/

dotnet_examples/*/bin
dotnet_examples/*/obj

go_examples/bin
go_examples/pkg

node_modules/
.cache

python*/**/*.egg-info/
python*/**/build/
python*/**/dist/

rust*/**/target/

.terraform*
!.terraform.lock.hcl
terraform.tfstate*